<% page.posts.each(function (post) { %>
    <div class="item">
        <article class="blog">
            <p class="blog-title"><%- post.title %></p>
            <p class="blog-date"><%- date(post.date, "YYYY") %>年<%- date(post.date, "MM") %>月<%- date(post.date, "DD") %>日</p>
            <% if (post.excerpt) { %>
            <div class="blog-content"><%- post.excerpt %></div>
            <% }else{ %>
            <div class="blog-content"><%- post.content %></div>
            <% } %>
            <div class="blog-action flex flex-between">
                <div class="blog-more">
                    <a href="<%- url_for(post.path) %>"><%- __('Paginator.ReadMore') %></a>
                </div>
                <div class="blog-other">
                    <%- list_tags(post.tags,{
                        show_count: false,
                        class: 'blog-tag'
                    }) %>
                </div>
            </div>
        </article>
    </div>
<% }) %>