
<!DOCTYPE html>
<html lang="zh-CN">
<%- partial('_partial/head', {}, {cache: true}) %>
<body>
<div class="wrap">
    <%- partial('_partial/header', {}, {cache: true}) %>
    <div class="container">
        <div class="content">
            <%- body %>
            <%- partial('_partial/paginator') %>
        </div>
    </div>
    <%- partial('_partial/footer', {}, {cache: true}) %>
</div>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=<%=theme.google_analytics_id%>"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '<%=theme.google_analytics_id%>');
</script>

</body>
</html>
